@using Geo4Students.Models.Domain.Determinatietabellen
@model Geo4Students.ViewModels.OefeningDeterminatieViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "determinatieValidate"}))
{
    <div class="mainContent col-md-12 text-center">
        <i class="toggleButton fa fa-caret-square-o-up fa-2x extremeHover orangeIcon"></i>
        <div class="col-md-8 col-md-offset-2">
            <h2>Determinatietabel</h2>
        </div>
        <div class="content">
            <div class="col-md-8 col-md-offset-2">
                <hr/>
            </div>
            <div class="col-md-12">
                @Html.Partial("_Determinatietabel", Model.DeterminatieViewModel)
                <div id="messageDet" class="col-md-8 col-md-offset-2 alert" css="display:none"></div>
                <div id="submitDeterminatie" class="col-md-12">
                    <input type="submit" class="btn btn-inverse btn-large" value="Bevestig" id="bevestigDeterminatie"/>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/slideMainContentDivOnClick.js"></script>
<script>
    @{
        var results = Model.DeterminatieViewModel.GeefResultaten();
    }

    $ = jQuery;

    $(document).ready(function() {
        $("#determinatieValidate").submit(function(e) {
            e.preventDefault();
            var elements = graph.getElements();
            var resultSelected = -1;
            @foreach (var component in results)
            {
                <text>
			var id = @component.ComponentId;
			for (var i = 0; i < elements.length; i++) {
				if(elements[i].id == id && elements[i].get("selected") == true){
					resultSelected = elements[i].id;
				};
			};
			</text>
            }
            if (resultSelected === -1) {
                $("#messageDet").show();
                $("#messageDet").html("Woeps, je selecteerde nog geen klimaattype.");
            } else {
                var juisteId = @Model.JuisteResultaat().ComponentId;
                if (resultSelected == juisteId) {
                    resetBackgrounds();
                    var cell = graph.getCell(juisteId);
                    while (cell !== undefined) {
                        cell.attr({
                            rect: { fill: "#008000" }
                        });
                        cell = graph.getCell(cell.get("parentId"));
                    }
                    selectable = false;
                    $("#bevestigDeterminatie").hide();
                    $("#messageDet").hide();

                    $.ajax({
                        url: '/TweedeGraad/ShowGoedeAntwoord',
                        contentType: 'application/html; charset=utf-8',
                        type: 'GET',
                        data: { klimatogramId: globalKlimatogramId },
                        dataType: 'html'
                    }).success(function(result) {
                        $('#goedeAntwoordGraad1').html(result);
                    });

                    if (@Model.Jaar > 2) {
                        $.ajax({
                            url: '/TweedeGraad/ShowOefeningVegetatie',
                            contentType: 'application/html; charset=utf-8',
                            type: 'GET',
                            data: { klimatogramId: globalKlimatogramId },
                            dataType: 'html'
                        }).success(function(result) {
                            $('#oefeningVegetatie').html(result);
                        });
                        //$("#vegetatie").show();

                    } else {
                        $.ajax({
                            url: '/TweedeGraad/ShowGoedeAntwoord',
                            contentType: 'application/html; charset=utf-8',
                            type: 'GET',
                            data: { klimatogramId: globalKlimatogramId },
                            dataType: 'html'
                        }).success(function(result) {
                            $('#goedeAntwoord').html(result);
                        });
                        //$("#proficiat").show();
                    }
                } else {
                    var fout;
                    @{
                        DeterminatieComponent huidige = Model.JuisteResultaat();
                    }
                    var parent = @huidige.Parent.ComponentId;
                    var foutGevonden = false;
                    $("#messageDet").show();
                    $("#messageDet").html("Helaas, het gekozen klimaattype is niet goed. Probeer nog eens opnieuw.");
                    @while (huidige.Parent != null)
                    {
                        <text>
					parent = @huidige.Parent.ComponentId;
					var huidigeCell = graph.getCell(resultSelected);
					while(huidigeCell.get("parentId") !== "0"){
						if(huidigeCell.get("parentId") == parent && foutGevonden != true){
							fout = huidigeCell;
							foutGevonden = true;
						}
						huidigeCell = graph.getCell(huidigeCell.get("parentId"));
					}
					@{
					    huidige = huidige.Parent;
					}
					</text>
                    }
                    resetBackgrounds();
                    fout.attr({
                        rect: { fill: "#D80000" }
                    });
                    while (fout.get("parentId") !== undefined) {
                        fout = graph.getCell(fout.get("parentId"));
                        fout.attr({
                            rect: { fill: "#008000" }
                        });
                    }
                }
            }
        });
    });
</script>